@import "tailwindcss";
@layer components {

    /* Tùy chỉnh mũi tên */
    .swiper-button-next,
    .swiper-button-prev {
        /* Dùng @apply để áp dụng các class utility của Tailwind */
        @apply text-white w-8 h-8 md:w-12 md:h-12;
    }

    /* Tùy chỉnh màu sắc thực tế của icon mũi tên (SVG) */
    .swiper-button-next::after,
    .swiper-button-prev::after {
        @apply text-2xl md:text-3xl font-extrabold;
    }

        .hide-scrollbar::-webkit-scrollbar {
            /* Ẩn thanh cuộn */
            display: none;
        }
    
        /* Tùy chọn: Dùng cho các trình duyệt khác (như Firefox) */
        .hide-scrollbar {
            /* Cho IE và Edge */
            -ms-overflow-style: none;
            /* Cho Firefox */
            scrollbar-width: none;
        }

    /* Tùy chỉnh dấu chấm */
    .swiper-pagination-bullet {
        @apply w-3 h-3 bg-gray-400 opacity-100;
    }

    /* Tùy chỉnh dấu chấm của slide đang active */
    .swiper-pagination-bullet-active {
        @apply bg-white;
    }
}

:root {
    --swiper-navigation-color: gray;
}